/*
 * Header Styles
 */

body {
  background-image: url("https://www.nightcity.love/build/images/districts/westbrook-82ec3bfc.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.find-area {
  padding: 70px 0;
  min-height: 450px;
}

.find-location {
  position: relative;
  margin-bottom: 70px;
}
.find-location input[type="text"] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white;

  background: rgb(90 90 90 / 50%);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.find-location input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
  height: 49px;
}

.forecast-container {
  width: 100%;
  background: #323544;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;

  background: rgb(90 90 90 / 50%);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.forecast-container .forecast {
  display: table-cell;
  vertical-align: top;
}
.forecast-container .forecast:nth-child(even) {
  background-color: #262936;
}
@media screen and (max-width: 990px) {
  .forecast-container .forecast {
    display: block;
    width: 16.6667%;
    float: left;
  }
}
.forecast-container .forecast.today {
  width: 420px;
}
.forecast-container .forecast.today .forecast-header .message-area {
  display: inline-flex;
  align-items: center;
  background: #b96666;
  border-radius: 3px;
  padding: 2px 5px;
}
.forecast-container .forecast.today .forecast-header .message-area .error-message {
  margin-left: 6px;
}
.forecast-container .forecast.today .forecast-header .message-area .error-message::first-letter {
  text-transform: capitalize;
}
.forecast-container .forecast.today .forecast-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.forecast-container .forecast.today .forecast-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.forecast-container .forecast.today .location {
  font-size: 18px;
  font-size: 1.2857142857em;
  font-weight: 400;
}
.forecast-container .forecast.today .degree .num,
.forecast-container .forecast.today .degree .forecast-icon {
  display: inline-block;
  vertical-align: middle;
}
.forecast-container .forecast.today .degree .num {
  font-size: 6.4285714286rem;
  margin-right: 30px;
}
.forecast-container .forecast.today .degree .num .not-found {
  color: rgb(219, 134, 134);
  font-size: 20px;
  margin-bottom: 40px;
}
.forecast-container .forecast.today span {
  margin-right: 20px;
}
.forecast-container .forecast.today span img {
  margin-right: 5px;
  vertical-align: middle;
}
@media screen and (max-width: 990px) {
  .forecast-container .forecast.today {
    display: block;
    width: 100%;
  }
}
.forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: right;
  font-weight: 400;
}
.forecast-container .forecast .forecast-icon {
  height: 50px;
}
.forecast-container .forecast .forecast-content {
  padding: 50px 20px 10px;
  text-align: center;
}
.forecast-container .forecast .forecast-content .forecast-icon {
  margin-bottom: 20px;
}
.forecast-container .forecast .forecast-content .degree {
  font-size: 24px;
  font-size: 1.7142857143em;
  color: white;
  font-weight: 700;
}
.forecast-container .forecast .forecast-content small {
  font-size: 16px;
  font-size: 1.1428571429em;
}
